<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Services and injection</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div ng-controller="CalCtrl">
        <input type="number" ng-model="num1" placeholder="Enter your first number">
        <input type="number" ng-model="num2" placeholder="Enter your second number">
        <button ng-click="plus()">Click to add</button>
        {{result}}<br>
        <input type="number" ng-model="num1" placeholder="Enter your first number">
        <input type="number" ng-model="num2" placeholder="Enter your second number">
        <button ng-click="minus()">Click to subtract</button>
        {{result2}} <br>
        <input type="number" ng-model="num1" placeholder="Enter your first number">
        <input type="number" ng-model="num2" placeholder="Enter your second number">
        <button ng-click="times()">Click to multiply</button>
        {{result3}}<br>
        <input type="number" ng-model="num1" placeholder="Enter your first number">
        <input type="number" ng-model="num2" placeholder="Enter your second number">
        <button ng-click="over()">Click to divide</button>
        {{result4}}
    </div>

    <script src="js/app.js"></script>
    <script src="js/mainController.js"></script>
</body>
</html>
